@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
:root {
  --main--color: #008148;
  --second-color: #1e3932;
}

section {
  padding: 50px 10%;
}

*::selection {
  color: #fff;
  background: var(--main--color);
}

img {
  width: 100%;
}

.Section_line {
  width: 50%;
  border-top: 2px solid #b6b6b6;
  border-radius: 20px;
  margin: 2rem auto 2rem auto;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
  padding: 15px 10%;
  transition: 0.2s;
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
  color: var(--main--color);
  font-weight: bolder;
}

.logo img {
  width: 50px;
}

.navbar {
  display: flex;
}

.navbar a {
  font-size: 1rem;
  padding: 11px 20px;
  color: var(--second-color);
  font-weight: 600;
  text-transform: uppercase;
}

.navbar a:hover {
  transition: 0.3s ease;
  color: var(--main--color);
}

.navbar2 {
  position: fixed;
  width: 70px;
  height: 70px;
  right: 50px;
  bottom: 50px;
  border-radius: 50%;
  background-color: var(--main--color);
}

.nav_wrapper {
  display: inline-flex;
  list-style: none;
}

.nav_wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav_wrapper .name {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #0f0f0f;
}

.nav_wrapper .name::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav_wrapper .icon:hover .name {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.nav_wrapper a {
  color: var(--main--color);
}

#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 1001;
  display: none;
}

.home {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #dadce0;
  gap: 1rem;
}

.home-text {
  flex: 1 1 17rem;
}

.home-img {
  box-sizing: border-box;
  width: 600px;
  height: 600px;
  margin: 20px auto;
  background-color: #dadce0;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

/*
.home-img {
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
    transform: translate(-11px, 0);
  }
  50% {
    transform: translate(-0px, -11px);
  }
  100% {
    transform: translate(-11px, 0);
  }
}

*/

.home-text span {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--second-color);
}

.home-text h1 {
  font-size: 3.2rem;
  color: var(--main--color);
  font-weight: bolder;
}

.home-text h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--second-color);
  text-transform: capitalize;
  margin: 0.5rem 0 1.4rem;
}

.btn {
  padding: 7px 16px;
  border: 2px solid var(--second-color);
  border-radius: 40px;
  color: var(--second-color);
  font-weight: 600;
}

.btn:hover {
  color: #fff;
  background: var(--second-color);
  transition: 0.3s ease;
}

.heading {
  text-align: center;
}

.heading span {
  font-size: 1rem;
  font-weight: 600;
  color: var(--second-color);
}

.heading h1 {
  font-size: 2rem;
  color: var(--main--color);
}

.total-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 0.5rem;
}

.total-container .box {
  flex: 0.2 0.1 1rem;
  background: var(--main--color);
  padding: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  border-radius: 0.5rem;
  height: 13rem;
}

/* 이미지 사용할 때
.total-container .box .box-img {
  width: 150px;
  height: 150px;
  margin-top: -100px;
}

.total-container .box .box-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
*/

.total-icon {
  font-size: 35px;
}

.total-container .box .total-icon .bx {
  color: #dadce0;
}

.total-container .box h2 {
  color: #dadce0;
  font-size: 1.2rem;
}

.total-container .box span {
  color: #dadce0;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0.2rem 0 0.5rem;
}

.heading span a {
  color: var(--second-color);
}
.heading span a:hover {
  transition: 0.3s ease;
  color: var(--main--color);
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}

.information-img img,
.information-img2 img {
  flex: 1 1 21rem;
}

.information-img2 img {
  width: 46.125rem;
  height: 20.5rem;
}

.imformation-text,
.information-text2 {
  flex: 1 1 21rem;
}

.imformation-text h2 {
  font-size: 1.2rem;
  color: var(--second-color);
}

.imformation-text p,
.information-text2 p {
  margin: 0.5rem 0 1rem;
  text-align: justify;
}

.bedbug-information {
  margin: 0 0 1rem;
}

.bedbug-information2 {
  margin: 0 0 5rem;
}

/* news */

#News {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.news-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.news-header span {
  color: var(--second-color);
  font-weight: bolder;
}

.news-header h3 {
  font-size: 2.4rem;
  color: var(--main--color);
}

.news-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: warp;
}

.news-box {
  width: 380px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  margin: 20px;
}

.news-img {
  width: 100%;
  height: auto;
}

.news-img iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 10;
}

.news-text {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.news-text span {
  color: var(--main--color);
  font-size: 0.9rem;
}

.news-text .news-title {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--second-color);
}

.news-text .news-title:hover {
  color: var(--main--color);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.news-text p {
  color: #9b9b9b;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0px;
}

.news-text a {
  color: #0f0f0f;
}

.news-text a:hover {
  color: var(--main--color);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
