@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*:focus,
*:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
}

.body {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 38%;
    padding: 15px 70px;
    background-color: #808080;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-radius: 20px;
}

.logo {
    font-size: 35px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}



/*
.navbar {
    background : linear-gradient(315deg, #ffffff, #d7e1ec);
}
.navbar a {
    position: relative;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 35px;
}
.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}
.navbar a:hover::before {
    width: 100%;
} */

.nav_wrapper {
    display: inline-flex;
    list-style: none;
}

.nav_wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav_wrapper .name {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav_wrapper .name::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav_wrapper .icon:hover .name {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}